*{
    padding: 0;
    margin: 0;
}

article{
    margin: 0 auto;
    width: 800px;
}

header{
    color: white;
    background-color: #434e5e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
#profile_image{
    width: 140px;
}